// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face{
    font-family: normal;
    src: url('/fonts/Monoton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: logox;
    src: url('/fonts/Bungee-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: normals;
    src: url('/fonts/Chango-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: saira;
    src: url('/fonts/SairaStencilOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
$fa-font-path: "../webfonts";

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';




body{
    background-color: #DFF0D8;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.bodys{

    background-image: url('/images/home.jpg');

    background-repeat: no-repeat;

    width: auto;

    height: auto;

}

div .img{
    content: url('/images/home.jpg');

    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

//------------ Key Frames --------------//

//-------------Mover--------------//
.shake{
    transition:all .100s ease-in-out;
}

.shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); color: red; transform: translate(-10x); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); color: rebeccapurple; transform: translate(-13px);}
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg);  color: red; transform: translate(-16x); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); color: rebeccapurple; transform: translate(-19px);}
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg);  color: red; transform: translate(-22px);}
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg);  color: rebeccapurple; transform: translate(-25px);}
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg);  color: red; transform: translate(-28px);}
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg);  color: rebeccapurple; transform: translate(-31px);}
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg);  color: red; transform: translate(-34px);}
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg);  color: rebeccapurple; transform: translate(-37px);}
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg);  color: red; transform: translate(-40px);}
  }

//---------mover---------//

//-------------Girar-----------//


.girar {
	-webkit-animation: girar-der 5s ease-in-out both;
	        animation: girar-der 5s ease-in-out both;
}

@-webkit-keyframes girar-der {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes girar-der {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

//-------------Girar-----------//

//------------- Ruber Band -----------//

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

//------------- Ruber Band -----------//

//---------------- Swing --------------//

.swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes swing {
    20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    }
    @keyframes swing {
    20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    }

//---------------- Swing --------------//

//--------------- Tada ---------------//

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
//--------------- Tada ---------------//


//------------ Key Frames --------------//




.contenedor-img{
    position: relative;
    display: inline-block;
    text-align: center;
}

.absolute{
    position: absolute;
}
.texto-encima-img{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-shadow{
    -webkit-box-shadow: 5px 31px 152px 133px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 31px 152px 133px rgba(0,0,0,0.75);
    box-shadow: 5px 31px 152px 133px rgba(0,0,0,0.75);
}
//------------------SCROLL BAR -------------------//
/* width */
::-webkit-scrollbar {
    width: 5px;

  }


  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #343a40;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 192, 224);
  }
//________________________________________________//

.navbar-brand {

    font-size: 1.6rem !important;
    font-family: 'logox';

}

.nav-link {

    font-family: 'logox';

}

/* computadora*/
@media screen and (min-width: 601px) {
    body{

        background: rgb(241,239,239);
        background: linear-gradient(90deg, rgba(241,239,239,1) 0%, rgba(159,155,255,1) 100%, rgba(0,212,255,1) 100%);
    }
    .sizes{
        font-family: 'logox';
        color: rgb(15, 14, 14);
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 3.5rem;
        transition:all .5s ease-in-out;
        text-shadow: saturation($color: #000000);
    }
    .sizes-home{
        margin-left: auto;

        font-family: 'logox';
        color: rgb(15, 14, 14);
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 3.5rem;
    }
    .sizes:hover{
        font-family: 'normal';
        color: blue;
        font-size: 3.8rem;
    }

    .float-lefts{
        margin-left: -10%;
        margin-top: 10%;
    }

    .t-home{
        padding-top: 8%;
        padding-left: 20%;
    }

    .dropdown-menu {

        background-color: rgb(1, 197, 1);
    }
    .dropdown-item {

        width: 15rem !important;
        padding: 0.25rem 1.8rem !important;
        font-family: 'logox' !important;


    }

    .dropdown-item:hover  {
        background-color: green;
    }

    .dropdown-item:hover  #ball {
        -webkit-animation: girar-der 3s ease-in-out both;
        animation: girar-der 3s ease-in-out both;
    }

    .dropdown-item:hover  #bot {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .dropdown-item:hover  #shop {
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        -webkit-animation-name: swing;
        animation-name: swing;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .dropdown-item:hover  #food {
        -webkit-animation-name: tada;
        animation-name: tada;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .dropdown-item:hover  #car {
        -webkit-animation-name: tada;
        animation-name: tada;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .disp-pc-none{
        display: none;
    }


  }

  /* movil */
  @media screen and (max-width: 600px) {

    body{
        background-image: url('/images/back.jpg');

    }
    .sizes{
        font-family: 'saira';
        color: green;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .sizes-home{
        margin-left: auto;
        margin-right: auto;
        font-family: 'logox';
        color: rgb(15, 14, 14);
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    .sizes-home-xs{
        margin-left: auto;
        margin-right: auto;
        font-family: 'logox';
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
    .sizes-home-xs-2{
        margin-left: auto;
        margin-right: auto;
        font-family: 'logox';
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3rem;
    }


    .sizes:hover{
        font-family: 'saira';
        color: blue;
        font-size: .2.1rem;
    }

    .t-home{
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .disp-mob-none{
        display: none;
    }

//-------------------Nav Bar-------------------------//


//-------------------End Nav Bar-------------------------//
  }
