// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face{
    font-family: normal;
    src: url('/fonts/Monoton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: normals;
    src: url('/fonts/Chango-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: saira;
    src: url('/fonts/SairaStencilOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #DFF0D8;
}

.bodys{

    background-image: url('/images/home.jpg');

    background-repeat: no-repeat;

    width: auto;

    height: auto;

}

div .img{
    content: url('/images/home.jpg');

    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

.shake{
    transition:all .100s ease-in-out;
}

.shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); color: red; transform: translate(-10x);}
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); color: rebeccapurple; transform: translate(-13px);}
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg);  color: red; transform: translate(-16x); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); color: rebeccapurple; transform: translate(-19px);}
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg);  color: red; transform: translate(-22px);}
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg);  color: rebeccapurple; transform: translate(-25px);}
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg);  color: red; transform: translate(-28px);}
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg);  color: rebeccapurple; transform: translate(-31px);}
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg);  color: red; transform: translate(-34px);}
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg);  color: rebeccapurple; transform: translate(-37px);}
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg);  color: red; transform: translate(-40px);}
  }

//------------------SCROLL BAR -------------------//
/* width */
::-webkit-scrollbar {
    width: 5px;
    display: none;
  }


  /* Track */
  ::-webkit-scrollbar-track {
    background: #d33c3c;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(64, 192, 224);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
//________________________________________________//


/* computadora*/
@media screen and (min-width: 601px) {
    body{
        background-image: url('/images/back2.jpg');

    }
    .sizes{
        font-family: 'normal';
        color: green;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 3.5rem;
        transition:all .5s ease-in-out;
        text-shadow: saturation($color: #000000);
    }
    .sizes:hover{
        font-family: 'normal';
        color: blue;
        font-size: 3.8rem;
    }

    .float-lefts{
        margin-left: -10%;
        margin-top: 10%;
    }

    .t-home{
        padding-top: 8%;
        padding-left: 20%;
    }


  }

  /* movil */
  @media screen and (max-width: 600px) {

    body{
        background-image: url('/images/back.jpg');

    }
    .sizes{
        font-family: 'saira';
        color: green;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .sizes:hover{
        font-family: 'saira';
        color: blue;
        font-size: .2.1rem;
    }

    .t-home{
        padding-top: 8%;
        padding-bottom: 8%;
    }
  }
